<h1>Pirate Information</h1>
  <p>Name: <%= @pirate.name %></p>
  <p>Height: <%= @pirate.height %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <h2>Their Ships:</h2>
  <%@pirate.ships.each do |ships|%>
    <%ships.each do |data|%>
      <p><%=data[0].capitalize%>:
      <%=data[1]%></p>

    <%end%>
    <p>=================</p>
  
  <%end%>


<h2>First Ship</h2>
  <% @pirate.ships[0].each do |info| %>
      <p><%=info[0].capitalize%>:
      <%=info[1]%></p>

    <%# <%end%> 

  <%end%>


<h2>Second Ship</h2>
  <% @pirate.ships[1].each do |info| %>
    <p><%=info[0].capitalize%>:
    <%=info[1]%></p>
  <%end%>
