
<body>
  <h1>Your Pirate</h1>
  <div>
    <p>Pirate Name: <%= @pirate.name %></p>
    <p>Pirate Weight: <%= @pirate.weight %> pounds</p>
    <p>Pirate Height: <%= @pirate.height %> feet tall</p>
  </div>
  <br>
  <h1>Your Ships</h1>
  <% @ships.each do |ship| %>
    <div>
      <p>Ship Name: <%= ship.name %></p>
      <p>Ship Type: <%= ship.type %></p>
      <p>Ship Booty: <%= ship.booty %></p>
    </div>
  <% end %>


  <a href="/new">Create More Pirates 'n Ships Here!</a>

</body>
