<h1>
  <div class="pirate">
    Name:<%=@pirate.name%><br>
    Height:<%=@pirate.height%><br>
    Weight:<%=@pirate.weight%>
  </div><br>
</h1>

<h2><div class="ship">
  Name:<%=@ships[0].name%><br>
  Type:<%=@ships[0].type%><br>
  Booty:<%=@ships[0].booty%>
</div><br>
</h2>

<<h2><div class="ship">
  Name:<%=@ships[1].name%><br>
  Type:<%=@ships[1].type%><br>
  Booty:<%=@ships[1].booty%>
</div><br>
</h2>
