<h1>Pirate Information</h1>
  <p><%= @pirate.name %></p>
  <p><%= @pirate.height %></p>
  <p><%= @pirate.weight %></p>
  <p><%= @pirate.ships %></p>


<h2>Display your first ship here</h2>
  <%= @ships[0] %>


<h2>Display your second ship here</h2>
  <%= @ships[1] %>
